.header {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(resources/Banner\ Image.png);
    width: 1320px;
    height: 400px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.img-happy-new{

}
.new-year{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.new-year-party{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}
.sec2{
    margin-top: 120px;
}

.off{
    text-align: center;
color: red;
font-size: 88px;

}
.holiday{
    text-align: center;
    color: red;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.all {
    text-align: center;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.new-year-photo{
    display: block; 
    margin-right: auto;
    width:  50%;
    margin-left: auto;
}
.sec-3{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(resources/Vectorrr.png);
    width: 1320px;
    height: 400px;
    flex-shrink: 0;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.wlc{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;  
letter-spacing: 7.04px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pragraph{
color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.welcome-div{
    display: inline;
    display: flex;
}
.img70{
    height: 290px;
    width: 200px;
    margin-right: 160px;
}
.text-sec-3{
    padding-left: 250px;
}
.btn{
color: black;
text-align: center;
font-size: 25px;
font-weight: 500;
border-radius: 8px;
background-color:  red;
transition: 0.5s;
padding: 2px 2px
}
.btn:hover{
   background-color: #FFF;
}
.time{
text-align: center;
font-size: 32px;
font-weight: 600;
padding: 100px 100px 100px 100px;
}
.red-color{
    color: red;
}
.btn2{
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
}
.sec-4{
margin-left: 40px;
 width: 1320px;
height: 500px;
background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.btn2:hover{
    background-color: #FFF;
    transition: 0.5s;
}
.sec-5{
    display: flex;
    width: 1320px;
    height: 500px;
    margin-top: 100px;
     justify-content: center;
    
    
}
.text-sec5{
    margin-left: 20px;
    align-items: center;
}
.new-best{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.coming{
color: #070211;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.paragraph2{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.two24{
color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.dolor{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.img96{
    width: 40%;
}
.sit{
    margin-left: 80px;
}
.sec6{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.holiday{
    color: #F00;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.holiday-text{
    color: dimgray;
}
.what{
color: #070211;
font-size: 24px;
font-weight: 500;
line-height: normal;
}
.sec-7{
    margin-left: 100px;
    margin-top: 100px;
}
.the-best{
color: #F00;
font-size: 24px;
font-weight: 500;
}
.our-awesome{
    color: #070211;
font-size: 48px;
font-style: normal;
font-weight: 900;
}
.text-7{
 color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
font-weight: 400;
}
.sec-8{
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    
}
.sec-9{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.sec10{
width: 1200px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-left: 80px;
margin-top: 80px;
}
.sub{
 color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
}
.paragraph3{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.img-61{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.search-bar{
    
    align-items: center;
    justify-content: center;
    display: flex;
   
}
form{
    background-color: #FFF;
    width: 600px;
    height: 66px;
    display: flex;
   
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
 background-color: salmon;
padding: 10px 50px;
border: none;
outline: none;
color: #FFF;
letter-spacing: 1px;
cursor: pointer;
 border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;
 
}
.form{
    border-bottom-left-radius: 30px;
}
.footer{
width: 1500px;
height: 209px;
margin-top: 100px;
display: flex;
justify-content: space-between;
background-color: #070211;
}
.text-footer{
    color: #FFF;
    margin-left: 100px;
    margin-top: 120px;
}
.text-footer2{
    color: #FFF;
    margin-right: 150px;
    margin-top: 120px;
}
.img-footer{
    background-color: #070211;
     padding-left: 600px;
     height: 200px;
     width:900px;
}
.footer-div2{
    background-color: #070211;
    color: #FFF;
  justify-content: space-between;
  display: block;
}
.copyright{
    margin-top: 60px;
    margin-right: 20px;
}
.hover-img :hover{
    opacity: 0.3;
    transition: 0.5s;   
    
}