.header {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(resources/Banner\ Image.png);
    width: 1320px;
    height: 400px;
    flex-shrink: 0;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
  
}
.img-happy-new{

}
.new-year{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.new-year-party{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}
.sec2{
    margin-top: 120px;
}

.off{
    text-align: center;
color: red;
font-size: 88px;

}
.holiday{
    text-align: center;
    color: red;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.all {
    text-align: center;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.new-year-photo{
    display: block; 
    margin-right: auto;
    width:  50%;
    margin-left: auto;
}
.sec-3{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(resources/Vectorrr.png);
    width: 1320px;
    height: 400px;
    flex-shrink: 0;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.wlc{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;  
letter-spacing: 7.04px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pragraph{
color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.welcome-div{
    display: inline;
    display: flex;
}
.img70{
    height: 290px;
    width: 200px;
    margin-right: 160px;
}
.text-sec-3{
    padding-left: 250px;
}
.btn{
color: black;
text-align: center;
font-size: 25px;
font-weight: 500;
border-radius: 8px;
background-color:  salmon;
transition: 0.5s;


}
.btn:hover{
    color:white
}
.time{
text-align: center;
font-size: 32px;
font-weight: 600;
padding: 100px 100px 100px 100px;
}
.red-color{
    color: red;
}
.btn2{
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
}
.sec-4{
    margin-left: 40px;
 width: 1320px;
height: 500px;
background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.btn2:hover{
    background-color: #FFF;
    transition: 0.5s;
}
.sec-5{
    display: flex;
    width: 1320px;
    height: 500px;
    margin-top: 100px;
    padding: 10px;
    
}
.text-sec5{
    margin-left: 20px;
    align-items: center;
}
.new-best{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.coming{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.paragraph2{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.two24{
color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.dolor{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.img96{
    width: 40%;
}
.sit{
    margin-left: 80px;
}